{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DaarcyDev</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static '/styles/app.css' %}">
    <script src="https://kit.fontawesome.com/c945472186.js"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&family=Pixelify+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  {% block content %}
  {% endblock content %}
  <script src="{% static 'js/bundle.min.js' %}"></script>
  {% comment %} <script src="{% static 'js/bundle.min.js' %}"></script> {% endcomment %}
</html>
