{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body class="bodyAdmin">
    <div class="terminalContent projects">
      <div class="comandLine">
        <h3 class="user">
          User@DaarcyWebsite:<span class="simbols">~$</span><span class="comand animationComand">sudo cat crudSkills.txt</span>
        </h3>
      </div>
      <div class="text animationText">
        <div class="options">
          <h2>Crud</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ blogCategoryForm.as_p }}
            {{ blogFileFormSet.as_p }}
            <button type="submit">Guardar</button>
          </form>
        </div>
      </div>
      <a href="{% url 'crud' %}">volver</a>
    </div>
  </body>
{% endblock content %}
