{% extends 'base.html' %} {% load static %} {% block content %}
<body class="bodyAdmin">
    <div class="terminalContent crud">
        <div class="comandLine">
          <h3 class="user">
            User@DaarcyWebsite:<span class="simbols">~$ </span
            ><span class="comand animationComand">sudo cat Crud.txt</span>
          </h3>
        </div>
        <div class="text animationText">
            <div class="options">
                <h2>Crud</h2>
                <div class="buttonsOption">
                    <a href="{% url 'crudAbout' %}">About</a>
                    <a href="{% url 'crudProject' %}">Projects</a>
                    <a href="{% url 'crudSkill' %}">Skills</a>
                    <a href="{% url 'crudBlog' %}">Blog</a>
                    <a href="">Contact</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      
</body>
{% endblock content %}
