{% extends 'base.html' %}
{% load static %}
{% block content %}

    <header class="header">
        <div class="topbar home">
            <a href=""><p><i class="fa-brands fa-ubuntu"></i></p></a>
        </div>
        <div class="topbar place">
            <a href=""><p class="current"><i class="fa-solid fa-ghost"></i></p></a>
            <a href=""><p><i class="fa-solid fa-circle"></i></p></a>
            <a href=""><p><i class="fa-solid fa-circle"></i></p></a>
            <a href=""><p><i class="fa-solid fa-circle"></i></p></a>
            <a href=""><p><i class="fa-solid fa-circle"></i></p></a>
            <a href=""><p><i class="fa-solid fa-circle"></i></p></a>
        </div>
        <div class="topbar about">
            <a href=""><p>about me</p></a>
        </div>
        <div class="topbar projects">
            <a href=""><p>Projects</p></a>
        </div>
        <div class="topbar skills">
            <a href=""><p>Skills</p></a>
        </div>
        <div class="topbar blog-contact">
            <a href=""><p>Blog</p></a>
            <a href=""><p>Contact</p></a>
        </div>
    </header>

{% endblock content %}
