{% extends "base.html" %}
{% load static %}
{% block content %}
  <body class="bodyAdmin">
    <div class="terminalContent projects">
      <div class="comandLine">
        <h3 class="user">
          User@DaarcyWebsite:<span class="simbols">~$</span><span class="comand animationComand">sudo cat crudProjectUpdate.txt</span>
        </h3>
      </div>
      <div class="text animationText">
        <div class="options">
          <a class="button-24" href="{% url 'crudProject' %}">volver</a>

          <h2>Crud</h2>
          <form method="post" enctype="multipart/form-data" class="formProject">
            {% csrf_token %}
            <div class="formContent">
              {{ projectForm.projectResume.label_tag }}
              {{ projectForm.projectResume }}
              {{ projectForm.projectComplete.label_tag }}
              {{ projectForm.projectComplete }}
              {{ projectForm.projectName.label_tag }}
              {{ projectForm.projectName }}
              {{ projectForm.projectImage.label_tag }}
              {{ projectForm.projectImage }}
              {{ projectForm.projectWebsiteResume.label_tag }}
              {{ projectForm.projectWebsiteResume }}
              {{ projectForm.projectWebsiteUrl.label_tag }}
              {{ projectForm.projectWebsiteUrl }}
              {{ projectImageForm.projectWebsiteImages.label_tag }}
              {{ projectImageForm.projectWebsiteImages }}
              {{ projectImageForm.projectWebsiteTools.label_tag }}
              {{ projectImageForm.projectWebsiteTools }}
            </div>
            <button class="button-24" type="submit">Guardar</button>
          </form>
        </div>
      </div>
      <a href="{% url 'crudProject' %}">volver</a>
    </div>
  </body>
{% endblock content %}
