{% extends 'base.html' %} {% load static %} {% block content %}
<body class="bodyAdmin">
      <div class="terminalContent projects">
        <div class="comandLine">
          <h3 class="user">
            User@DaarcyWebsite:<span class="simbols">~$ </span
            ><span class="comand animationComand">sudo cat crudProjectUpdate.txt</span>
          </h3>
        </div>
        <div class="text animationText">
            <div class="options">
                <h2>Actualizar proyecto</h2>
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ projectForm.as_p }}
                  {{ projectImageForm.as_p }}
                  <button type="submit">Guardar</button>
                </form>
              
            </div>
          </div>
          <a href="{% url 'crud' %}">volver</a>
        </div>
      </div>
      
</body>
{% endblock content %}
