.bodyAdmin {
    .terminalContent {
        width: 95%;
        border: 2px solid #000;
        border-radius: 1rem;
        margin: 3rem auto;
        background: rgba($color: #000000, $alpha: 0.8);
        height: 100%;
        @include tablet {
            width: 95%;
        }

        .text {
            height: 90%;
            .form {
                height: 70%;
                justify-content: center;

            }
            .formSkill {
                gap: 3rem;
                width: auto;
                label {
                    color: $blanco;
                    font-size: 2rem;
                }
                input {
                    border: 2px solid $verde;
                    background: transparent;
                    border: 2px solid $verde;
                    background: transparent;
                    font-size: 2rem;
                    color: $blanco;
                    width: auto;
                    font-size: 2rem;
                    color: $blanco;
                }
                textarea {
                    border: 2px solid $verde;
                    background: transparent;
                    width: 100%;
                    font-size: 2rem;
                    color: $blanco;
                    height: 10rem;

                }
                .formContent {
                    display: flex;
                    height: 70%;
                    flex-direction: row;
                    justify-content: space-around;
                }

                .textArea {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                }
                .imageField {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: auto;
                    align-items: center;
                }

            }
            .formProject {
                width: auto;
                gap: 3rem;
                label {
                    color: $blanco;
                    font-size: 2rem;
                }
                input {
                    border: 2px solid $verde;
                    background: transparent;
                    border: 2px solid $verde;
                    background: transparent;
                    font-size: 2rem;
                    color: $blanco;
                    width: auto;
                    font-size: 2rem;
                    color: $blanco;
                }
                textarea {
                    border: 2px solid $verde;
                    background: transparent;
                    width: 100%;
                    font-size: 2rem;
                    color: $blanco;
                    height: 10rem;
                }
                .formContent {
                    display: flex;
                    flex-direction: column;
                    height: 70%;
                    align-items: flex-start;
                    justify-content: space-around;
                }
            }
            .formAbout {
                width: auto;
                label {
                    color: $blanco;
                    font-size: 2rem;
                }
                input {
                    border: 2px solid $verde;
                    background: transparent;
                    border: 2px solid $verde;
                    background: transparent;
                    font-size: 2rem;
                    color: $blanco;
                    width: auto;
                    font-size: 2rem;
                    color: $blanco;
                }
                textarea {
                    border: 2px solid $verde;
                    background: transparent;
                    width: 100%;
                    font-size: 2rem;
                    color: $blanco;
                    height: 10rem;
                }
                .formContent {
                    display: flex;
                    flex-direction: column;
                    height: 70%;
                    align-items: flex-start;
                    justify-content: space-around;
                }
            }
            .formBlog {
                width: auto;
                label {
                    color: $blanco;
                    font-size: 2rem;
                }
                input {
                    border: 2px solid $verde;
                    background: transparent;
                    border: 2px solid $verde;
                    background: transparent;
                    font-size: 2rem;
                    color: $blanco;
                    width: auto;
                    font-size: 2rem;
                    color: $blanco;
                }
                textarea {
                    border: 2px solid $verde;
                    background: transparent;
                    width: 100%;
                    font-size: 2rem;
                    color: $blanco;
                    height: 10rem;
                }
                .formContent {
                    display: flex;
                    flex-direction: column;
                    height: 70%;
                    align-items: flex-start;
                    justify-content: space-around;
                }
            }
            .formContact {
                width: auto;
                label {
                    color: $blanco;
                    font-size: 2rem;
                }
                input {
                    border: 2px solid $verde;
                    background: transparent;
                    border: 2px solid $verde;
                    background: transparent;
                    font-size: 2rem;
                    color: $blanco;
                    width: auto;
                    font-size: 2rem;
                    color: $blanco;
                }
                textarea {
                    border: 2px solid $verde;
                    background: transparent;
                    width: 100%;
                    font-size: 2rem;
                    color: $blanco;
                    height: 10rem;
                }
                .formContent {
                    display: flex;
                    flex-direction: column;
                    height: 70%;
                    align-items: flex-start;
                    justify-content: space-around;
                }
            }
            .options {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    color: $blanco;
                }
                height: 70%;
                justify-content: center;
                .buttonsOption {
                    align-items: center;
                    display: flex;
                    width: 100%;
                    gap: 3rem;
                    justify-content: center;
                    flex-wrap: wrap;
                    a {
                        background: hsla(0, 0%, 100%, 0.3);
                        border: 3px solid $verde;
                        color: #000;
                        width: 35%;
                        text-align: center;
                        font-size: 3rem;
                        font-family: "Chakra Petch", sans-serif;

                        &:hover {
                            background: $verde;
                            border: 3px solid $blanco;
                            opacity: .8;
                        }
                    }
                }

            }
        }
    }
    .button-24 {
        background: $verde;
        border: 1px solid $verde;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: $blanco;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 800;
        padding: 1rem;
        margin: 3rem 0;
        text-align: center;
        width: 100%;
    }

    .button-24:hover,
    .button-24:active {
        background-color: initial;
        background-position: 0 0;
        color: $verde;
    }

    .button-24:active {
        opacity: .5;
    }
    .crud {
        display: block;
    }
    .about {
        display: block;
        form {
            display: flex;
            flex-direction: column;
            color: $blanco;
        }
    }
    .projects {
        padding: 1rem;
        display: block;
        .options {
            height: 100% !important;
            justify-content: flex-start !important;
            .details {
                display: flex !important;
                .websites {
                    display: flex !important;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 3rem;
                    margin: 3rem;
                }
                .websiteInfo {
                    display: flex;
                    margin: 3rem 0;
                    flex-direction: column;
                    thead {
                        tr {
                            th {
                                color: $blanco;
                                border: 2px solid $blanco;

                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                color: $blanco;
                                border: 2px solid $blanco;
                                padding: 1rem;
                                text-align: center;

                                .websiteImage {
                                    width: 100% !important;
                                    border: none;
                                }

                            }
                            .tdImage {
                                img {
                                    margin: 1rem auto;
                                    max-width: 10rem;
                                    border-radius: 50%;
                                }
                            }

                        }
                    }
                }
            }
            form {
                display: flex;
                flex-direction: column;
                color: $blanco;
                width: 100%;
                textarea {
                    height: 2rem;
                }
            }

        }

    }
    .skills {
        display: block;
    }
    .blog {
        display: block;
    }
    .contact {
        display: block;
    }
}
.buttonUpdate {
    background: $amarillo;
    border: 1px solid $amarillo;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: $blanco;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem;
    margin: 3rem 0;
    text-align: center;
    width: 100%;
}
.buttonDelete {
  background: $rojo;
  border: 1px solid $rojo;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: $blanco;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem;
  margin: 3rem 0;
  text-align: center;
  width: 100%;
}