body{
    // background-image: url("/tasks/static/images/wall-08.webp");
    background: url("/static/images/wall-08.webp") 50% 0 no-repeat; 
    background-position: top;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: flex-end;
    // justify-content: center;
    justify-content: center;
}
.header{
    margin-top: 1rem;
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    top: 0;
    .topbar{
        border: 1px solid #111;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10rem;
        background-color: rgba($color: #000000, $alpha: 0.3);
        // filter: blur(4px);
        z-index: 0;
        p{
            margin: 0 0.3rem;
            z-index: 1;
        }
    }
    .place{
        padding: 0 5rem;
        p{
            margin:0 2rem;
            font-size: 1rem;
            color: $amarillo;
        }
        .current{
            font-size: 2rem;
            color: $azul;
            // i{
            //     color: #164488;
            // }
        }
    }
    .home{
        padding:0 3rem;
        p{
            color: $azul;
        }
    }
    .blog-contact{
        padding: 0 5rem;
        width: 20%;
    }
    .about{
        cursor: pointer;
    }
    .projects{
        cursor: pointer;
    }
}

.terminal {
    display: none;
    margin: 0 auto;
    width: 40%;
    height: 50%;
    top: 7rem;
    left: 5rem;
    background: rgba($color: #000000, $alpha: 0.8);
    position: absolute;
    cursor: grab;
    border-radius: 1rem;
    .bar{
        width: 100%;
        height: 5rem;
        background-color: #111;
        border-radius: 1rem 1rem 0 0 ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin:0 2rem;
        }
        .buttons{
            display: flex;
            p{
                margin:0 1rem;
                cursor: pointer;
            }
            .close:hover{
                color: $rojo;
            }
            .max:hover{
                color: $amarillo;
            }
            .restore:hover{
                color: $verde;
            }
            .min:hover{
                color: $azul;
            }
        }
    }
}
.maximize{
    width: 97vw;
    height: 90vh;
    position: initial !important;
    cursor: auto;
    margin: 0 auto;
}
.minimize{
    width: 20vw;
    height: 5vh;
    // position: initial !important;
    cursor: auto;
    margin: 0 1rem;
    bottom: 3rem !important;
    top: initial !important;
    // left: 3rem !important;
    .bar{
        border-radius: 1rem;
    }
}
.left-3rem-important {
    left: 3rem !important;
  }