html{
    scroll-behavior: smooth;
}
body {
    // background-image: url("/tasks/static/images/wall-08.webp");
    // background: url("/static/images/wall-08.webp") 50% 0 no-repeat; 
    background-position: top;
    height: 100vh;
    width: 500vw;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: flex-end;
    // justify-content: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    // scroll-behavior: auto;
    ::-webkit-scrollbar{
        display: none;
    }
}

.background {
    background: url("/static/images/wall-08.webp") 50% 0 no-repeat;
    background-position: top;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
}


.header {
    z-index: 1;
    // display: none;
    // margin-top: 1rem;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 0;
    left: 0;
    @include tablet{
        flex-direction: column;
        align-items: center;
    }
    // .menuButton{
    //     display: none !important;
    //     display: flex;
    //     justify-content: space-around;
    //     left: 0;
    //     position: fixed;
    //     top: 0;
    //     width: 100vw;
    //     z-index: 1;
    //     // .bars{
    
    //     // }
    //     @include tablet{
    //             display: flex !important;
    //             top: 10rem;
    //     }
    
    
    // }
    
    .topbar {
        // margin-top: 1rem;
        border: 1px solid #555;
        border-radius: 1rem;
        // width: 100%;
        margin:1rem .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0 10rem;
        background-color: rgba($color: #000000, $alpha: 0.3);
        z-index: 0;
        @include tablet{
            width: 100%;
            margin: .5rem;
        }
        p {
            margin: 0 0.3rem;
            color: $blanco;
            z-index: 1;
        }
    }

    .place {
        width: 30%;
        p {
            margin: 0 2rem;
            font-size: 1rem;
            color: $amarillo;
        }

        .current {
            font-size: 2rem;
            color: $azul;
        }
        @include tablet{
            width: 95%;
            padding: 1rem;
        }
    }

    .home {
        width: 10%;
        cursor: pointer;
        p {
            color: $azul;
        }
        @include tablet{
            width: 95%;
        }
    }
    .menu{
        display: flex;
        width: 100%;
        // @include tablet{
        //     display: none ;
        // }
        .blog-contact {
            cursor: pointer;
            justify-content: space-evenly;
            // padding: 0 5rem;
            // width: 20%;
        }
    
        .about {
            cursor: pointer;
            width: 100%;
        }
    
        .projects {
            cursor: pointer;
            width: 100%;
        }
        .skills {
            cursor: pointer;
            width: 100%;
        }
    
        .blog-contact {
            width: 100%;
            cursor: pointer;
        }
    }
    
}
.terminal {
    display: none;
    margin: 0 auto;
    width: 10%;
    height: 50%;
    top: 7rem;
    left: 5rem;
    background: rgba($color: #000000, $alpha: 0.8);
    position: absolute;
    cursor: grab;
    border-radius: 1rem;
    z-index: 5;
    .bar {
        width: 100%;
        height: 5rem;
        background-color: #111;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p {
            margin: 0 2rem;
            color: $blanco;
        }

        .buttons {
            display: flex;

            p {
                margin: 0 1rem;
                cursor: pointer;
            }

            .close:hover {
                color: $rojo;
            }

            .max:hover {
                color: $amarillo;
            }

            .restore:hover {
                color: $verde;
            }

            .min:hover {
                color: $azul;
            }
        }
    }
}

.maximize {
    width: 97vw;
    height: 90vh;
    position: absolute !important;
    cursor: auto;
    margin: 0 auto;
    // left: .3% !important;
    top: 7rem !important;
}

.minimize {
    width: auto;
    height: 5vh;
    position: initial !important;
    cursor: auto;
    margin: 0 1rem;
    bottom: 3rem !important;
    top: initial !important;

    // left: 3rem !important;
    .bar {
        border-radius: 1rem;
    }
}

.display {
    display: flex;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
}

.first {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}

.second {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}

.third {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}

.fourth {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}

.fifth {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}